@model CNTS.Models.c_periodo

@{
    Layout = "~/Views/Shared/_Layoutgmx.cshtml";
    ViewBag.Title = "";
}

<h2>Details</h2>

<div>
    <h4>c_periodo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cl_periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cl_periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nb_periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nb_periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esta_activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esta_activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_periodo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
