@model CNTS.ViewModels.AsignaRolUsuarioViewModel

@{
    Layout = "~/Views/Shared/_Layoutgmx.cshtml";
    ViewBag.Title = "";
}

<script src="~/Scripts/sharedScripts.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-select.js"></script>
<script src="~/Scripts/MSInitialize.js"></script>

<h2>Asignar roles</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal well">
        <h4>Usuario: @ViewBag.nb_usuario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_usuario)

        <div class="row">
            <div class="form-group">
                <label class="control-label col-xs-3 col-md-2">Rol(es)</label>
                <div class="col-xs-6 col-md-5">

                    <div class="input-group">
                        @Html.ListBox("id_rol", (MultiSelectList)ViewBag.roles, htmlAttributes: new { @class = "form-control selectpicker" })
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" title="Atención" data-toggle="popover" data-trigger="hover" data-content="Seleccione los Roles que desee asignar a éste Usuario. Una vez que estos sean asignados, el Usuario tendrá acceso a todas las funciones que los Roles incluyan.">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-6 col-md-5">
                    <input type="submit" value="Guardar" class="btn btn-primary" id="submit" />
                    @Html.ActionLink("Regresar", "Index", "Usuario", "", new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}