@model CNTS.Models.c_usuario

@{
    Layout = "~/Views/Shared/_Layoutgmx.cshtml";
    ViewBag.Title = "";
}

<h2>Borrar</h2>

<h3>¿Borrar el registro?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Clave
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cl_usuario)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nb_usuario)
        </dd>

        <dt>
            Contraseña
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            Correo electrónico principal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_principal)
        </dd>

        <dt>
            Correo electrónico alterno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_alterno)
        </dd>

        <dt>
            Número de Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_telefono)
        </dd>

        <dt>
            ¿Está activo?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esta_activo)
        </dd>

        <dt>
            ¿Es súper usuario?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.es_super_usuario)
        </dd>

        <dt>
            ¿Es de solo lectura?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solo_lectura)
        </dd>

        <dt>
            Nombre de puesto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nb_puesto)
        </dd>

        <dt>
            Área
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_area.nb_area)
        </dd>

    </dl>

    @if (ViewBag.RR.Count > 0)
    {

        <h4>Para poder eliminar éste registro, es necesario eliminar los siguientes elementos:</h4>

        <table id="results" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Catálogo</th>
                    <th>Clave del Registro</th>
                    <th>Nombre del Registro</th>
                    <th width="40"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.RR)
                {
                    <tr>
                        <td style="white-space: nowrap">
                            @(item.nb_catalogo)
                        </td>
                        <td>
                            @(item.cl_registro)
                        </td>
                        <td>
                            @(item.nb_registro)
                        </td>
                        <td style="white-space: nowrap">
                            <center>
                                <a href="@Url.Action(item.accion,item.controlador, new { id = item.id_registro,redirect = "Usuario/Delete/" + Model.id_usuario})">
                                    <i class="glyphicon glyphicon-trash" title="Borrar"></i>
                                </a>
                            </center>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (ViewBag.RR.Count == 0)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-primary" />
                |
                @Html.ActionLink("Regresar", "Return", "Utilidades", new { catalogo = 43 }, new { @class = "btn btn-default btn-sm" })
            </div>
        }
    }
    else
    {
        <div>
            @Html.ActionLink("Regresar", "Return", "Utilidades", new { catalogo = 43 }, new { @class = "btn btn-default btn-sm" })
        </div>
    }
</div>
